footer.footer {
  width: 100%;
  background: #151515;

  .container {
    padding: 6rem 15rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
      font-size: 2.8rem;
      color: map-get($colors, text);
    }
    .links {
      width: 15%;
      display: flex;
      justify-content: space-around;
      list-style: none;

      .link .icon {
        color: map-get($colors, text-60);
        width: 3.5rem;
        height: 3.5rem;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: map-get($colors, main);
        }
      }
    }
  }

  @include media(2300) {
    .container {
      padding: 6rem 10rem;
    }
    .container .copyright {
      font-size: 2.5rem;
    }
    .container .links .link .icon {
      width: 3rem;
      height: 3rem;
    }
  }
  @include media(1800) {
    .container .copyright {
      font-size: 2rem;
    }
    .container .links {
      width: 20%;

      .link .icon {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
  @include media(1200) {
    .container {
      padding: 6rem;
    }
  }
  @include media(900) {
    .container .copyright {
      font-size: 1.5rem;
    }
    .container .links .link .icon {
      width: 2rem;
      height: 2rem;
    }
  }
  @include media(700) {
    .container {
      flex-direction: column;
      padding: 3rem;
      text-align: center;
    }
    .container .links {
      margin-top: 3rem;
      width: 25%;
      min-width: 15rem;
    }
  }
}
