footer.footer {
  width: 100%;
  background: #151515;

  .container {
    padding: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .copyright {
      font-size: 1.8rem;
      color: map-get($colors, text);
    }
    .links {
      width: 20%;
      display: flex;
      justify-content: space-around;
      list-style: none;

      .link .icon {
        color: map-get($colors, text-60);
        width: 3rem;
        height: 3rem;
        transition: color 0.3s ease-in-out;

        &:hover {
          color: map-get($colors, main);
        }
      }
    }
  }
}
