header {
	width: 100%;
	user-select: none;
	display: flex;
	justify-content: center;
}
nav.navbar {
	width: calc(100% - 100px);
	position: fixed;
	top: 0;
	padding: 0 20px;
	margin: 30px;
	border-radius: 15px;
	height: 7rem;
	display: flex;
	justify-content: space-around;
	background: map-get($colors, nav-bg);
	align-items: center;
	box-shadow: 0 30px 60px rgba(0, 0, 0, 0.25);
	z-index: 999;
	transition: all 0.5s ease-in-out;
	color: map-get($colors, text);
	max-width: 1700px;

	&.scrolled {
		width: 100%;
		max-width: 100%;
		margin: 0;
		border-radius: 0 0 25px 25px;
		background: transparentize($color: map-get($colors, bg), $amount: 0.1);
		backdrop-filter: blur(5px);

		.links .item a .icon {
			width: 2.2rem;
			height: 2.2rem;
			margin: 0 20px;
		}
		.links .item a p {
			opacity: 0;
			max-width: 0;
			transition: opacity 0.4s ease-in-out, max-width 0.4s ease-in-out;
		}
	}
	.container {
		max-width: 1700px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.logo {
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 3.5rem;
		transition: all 0.5s ease-in-out;

		.logo-img {
			height: 100%;
			margin-left: 1rem;
			display: none;
			visibility: hidden;
		}
		.logo-text span {
			color: map-get($colors, main);
		}
	}

	.links {
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 2.5rem;
		height: 100%;
		list-style: none;
		z-index: 990;
		border-radius: 0 20px 20px 20px;

		.item {
			cursor: pointer;
			position: relative;
			transform: none;
		}
		.item a {
			display: flex;
			padding: 1.5rem;
			justify-content: center;
			align-items: center;
			color: map-get($colors, text);
			height: 100%;
			transition: transform 0.3s ease-in-out, 0.3s ease-in-out;
		}
		.item.button {
			display: none;
			color: map-get($colors, bg);
		}
		.item a .icon {
			margin: 0 5px 0 0;
			width: 2.8em;
			height: 2.8rem;
			transition: width 0.5s ease-in-out, height 0.5s ease-in-out,
				margin 0.5s ease-in-out;
		}
		.item a p {
			opacity: 1;
			max-width: 150px;
			transition: opacity 0.2s 0.3s ease-in-out, max-width 0.4s ease-in-out;
		}

		.item a:hover,
		.item:focus a,
		.item:target {
			transform: scale(1.2) rotate(-2deg);
			color: lighten(map-get($colors, second), 10);
		}
	}

	.right-container {
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}
	.toggle-btn {
		display: none;
		visibility: hidden;
		opacity: 0;
		width: 4rem;
		height: 4rem;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		margin-right: 20px;
		border-radius: 5px;

		& .bar {
			width: 70%;
			height: 2px;
			background: map-get($colors, text);
		}
	}
	.button,
	.links .button {
		height: fit-content;
		display: flex;
		justify-content: center;
		align-items: center;
		color: map-get($colors, bg);
		font-size: 2.5rem;
		padding: 1rem 2rem;
		background: map-get($colors, main);
		border-radius: 1rem;
		box-shadow: none;
		transition: all 0.5s ease-in-out, box-shadow 0.3s ease-in-out;

		.icon {
			width: 2.8rem;
			height: 2.8rem;
			margin: 0 15px 0 0;
		}

		&:hover {
			background: darken(map-get($colors, main), 5);
			box-shadow: 5px 5px transparentize(map-get($colors, main), 0.8);
		}
	}

	//Media queries
	@include media (2000) {
		.links {
			font-size: 1.6rem;
		}
		.links .item a .icon {
			width: 1.8rem;
			height: 1.8rem;
			margin: 0 10px 0 0;
		}

		.button,
		.links .button {
			font-size: 1.6rem;
			padding: 0.7rem 1.5rem;

			.icon {
				width: 1.8rem;
				height: 1.8rem;
				margin: 0 10px 0 0;
			}
		}
	}
	@include media(1800) {
		& {
			margin: 15px;
			width: calc(100% - 60px);
			height: 5rem;
		}
		&.scrolled .links .item a .icon {
			margin: 0 5px;
		}
		.logo {
			font-size: 2.8rem;
		}
	}
	@include media(1400) {
		.logo {
			font-size: 2.3rem;
		}
		.links {
			font-size: 1.4rem;;
		}
		.links .item {
			margin: 0 1rem;
		}
		.links .item a .icon,
		&.scrolled .links .item a .icon {
			width: 1.5rem;
			height: 1.5rem;
		}

		.button,
		.links .button {
			font-size: 1.6rem;

			.icon {
				width: 1.8rem;
				height: 1.8rem;
			}
		}
	}

	@include media(1100) {
		.logo {
			font-size: 2.5rem;
		}
		.links .item {
			font-size: 1.5rem;
			margin: 0 0.4rem;
		}
		.links .item a {
			padding: 1rem;
		}
		.links .item a .icon {
			width: 1.8rem;
			height: 1.8rem;
		}
		.button,
		.links .button {
			font-size: 1.5rem;
			padding: 0.7rem 1.5rem;
			.icon {
				width: 1.8rem;
				height: 1.8rem;
			}
		}
	}

	@include media(900) {
		justify-content: space-between;
		transition: all 0.5s ease-in-out, border-radius 0.5s 0.3s ease-in-out;
		border-radius: 10px;
		margin: 20px;

		&.active {
			border-radius: 10px 10px 0 10px;
			transition: all 0.5s ease-in-out, border-radius 0s;
		}
		&.scrolled {
			border-radius: 0 0 15px 15px;
		}
		&.scrolled .links {
			background: transparentize($color: map-get($colors, bg), $amount: 0.02);
			backdrop-filter: blur(5px);

			.item a p {
				max-width: fit-content;
				opacity: 1;
			}
		}

		.container {
			justify-content: space-between;
		}

		.logo .logo-text {
			display: none;
			opacity: 0;
			visibility: hidden;
		}
		.logo .logo-img {
			display: block;
			visibility: visible;
			opacity: 1;
		}

		.links {
			flex-direction: column;
			visibility: hidden;
			position: absolute;
			height: 0;
			width: 155px;
			overflow: hidden;
			right: 0;
			top: 100%;
			background: map-get($colors, nav-bg);
			border-radius: 0 0 20px 20px;
			transition: all 0.5s ease-in-out;

			&.active {
				visibility: visible;
				height: 25rem;
			}
			&.active .item {
				font-size: 1.5rem;
			}
			&.active .item a .icon {
				height: 1.8rem;
			}
			.item {
				font-size: 0;
			}
			.item a {
				padding: 1.5rem;
			}
			.item a .icon {
				height: 0;
			}
			.item a p {
				width: fit-content;
				height: fit-content;
				visibility: visible;
			}
		}
		&.scrolled.active {
			border-radius: 0 0 0 20px;
		}

		.toggle-btn {
			display: flex;
			visibility: visible;
			position: relative;
			opacity: 1;

			.bar {
				transition: 0.3s ease-in-out, opacity 0.2s 0.1s ease-in-out;
			}
			&.active .bar {
				position: absolute;
				transition: transform 0.3s ease-in-out;
			}
			&.active .bar-1 {
				position: relative;
				opacity: 0;
				transition: opacity 0.2s ease-in-out;
			}
			&.active .bar-2 {
				transform: rotate(-45deg);
			}
			&.active .bar-3 {
				transform: rotate(45deg);
			}
		}
	}
	@include media(550) {
		& {
			height: 50px;
		}
	}
	@include media(375) {
		& {
			margin: 5px;
			width: calc(100% - 2rem);
		}
		.links.active {
			height: 30rem;
		}
		.links .item.button {
			display: block;
			margin: 1.5rem;
			font-size: 1.5rem;
			padding: 0.7rem 1.5rem;
			visibility: visible;
			opacity: 1;

			a {
				color: map-get($colors, bg);
				padding: 0;
			}
		}

		.button {
			display: none;
			visibility: hidden;
			opacity: 0;
		}
	}
}
