section.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
  color: map-get($colors, text);
  max-width: 1600px;
  margin: 15% 0;
  width: 100%;

  .left,
  .right {
    margin: 3rem;
  }

  .left img {
    width: 25vw;
    min-width: 230px;
    transition: width 0.5s ease;
  }

  .right {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;

    .container .title {
      font-size: 3.5rem;
      margin: 2rem 0;
      font-weight: 600;
    }

    .container .text {
      font-size: 2.5rem;
      line-height: 1.5;
      font-weight: 300;
      max-width: 650px;
    }

    .container {
      margin: 25px 0;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    #carousel1 {
      margin: 30px 0;
      position: relative;
      width: fit-content;
    }

    /* .effect {
        position: absolute;
        top: 0;
        left: 0;
        background: rgb(17, 17, 17);
        background: linear-gradient(
          90deg,
          rgba(17, 17, 17, 1) 0%,
          rgba(17, 17, 17, 0) 15%,
          rgba(17, 17, 17, 0) 85%,
          rgba(17, 17, 17, 1) 100%
        );
        width: 100%;
        height: 100%;
        z-index: 100;
      } */
    /* &::before {
        content: "";
        z-index: 10;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          90deg,
          rgba(17, 17, 17, 1) 0%,
          rgba(17, 17, 17, 0) 15%,
          rgba(17, 17, 17, 0) 85%,
          rgba(17, 17, 17, 1) 100%
        );
      }
      /*.swiper-wrapper .swiper-slide.active {
        transform: scale(1.15);
        background: lighten(map-get($colors, second), $amount: 10);
      }
      .swiper-wrapper .swiper-slide.active {
        background: lighten(map-get($colors, second), 10);
      }*/
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      border-radius: 50px;
      padding: 1rem 2rem;
      background: transparentize(map-get($colors, main), 0.4);
      color: map-get($colors, text);
      transition: all 0.5s ease;
    }

    .item.second {
      background: transparentize(map-get($colors, second), 0.6);
    }

    .item.third {
      background: transparentize(map-get($colors, third), 0.4);
    }

    .item .icon {
      width: 3rem;
      height: 3rem;
      margin-right: 2rem;
    }

    .item .label {
      font-size: 2.5rem;
      font-weight: 600;
    }
  }

  // Media queries
  @include media(2300) {
    .right {
      .container .title {
        font-size: 3rem;
      }

      .container .text {
        font-size: 2rem;
      }

      .item .icon {
        width: 2.5rem;
        height: 2.5rem;
      }

      .item .label {
        font-size: 2rem;
      }
    }
  }
  @include media(2000) {
    .right {
      max-width: 450px;
    }
  }
  @include media(1800) {
    justify-content: space-around;

    .left img {
      min-width: 350px;
    }
    .right {
      .container .title {
        font-size: 2.8rem;
      }

      .container .text {
        font-size: 1.8rem;
      }

      .item .icon {
        width: 1.7rem;
        height: 1.7rem;
      }

      .item .label {
        font-size: 1.5rem;
      }
    }
  }
  @include media(1500) {
    .right {
      max-width: 400px;

      .container .title {
        font-size: 2rem;
        margin: 1.3rem 0;
      }

      #carousel1 {
        margin: 1rem 0;
      }

      .container .text {
        font-size: 1.5rem;
      }

    }
  }
  @include media(800) {
    .left {
      margin: 3rem;
    }

    .left img {
      width: 40vw;
      min-width: 230px;
    }

    .right {
      max-width: 350px;
    }
  }
}