section.knowledges {
  width: 100%;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .container .title {
    font-size: 3.5rem;
    font-weight: 600;
    color: map-get($colors, text);
    margin: 4rem 5rem;
  }

  .container .text {
    color: map-get($colors, text);
    font-size: 2.5rem;
    line-height: 1.5;
    font-weight: 300;
    max-width: 100rem;
  }

  .left,
  .right {
    margin: 5rem;
  }

  .right img {
    width: 30vw;
  }

  .table {
    max-width: 110rem;
    min-width: 90rem;
    border-radius: 2rem;
    overflow: hidden;
    border: solid 5px #cfccff;
    margin: 7rem 0;
    transform: skewY(-3deg);
    transition: transform 0.5s ease-in-out;
    box-shadow: -5px -10px 30px rgba(0, 0, 0, 0.7);

    &:hover {
      transform: skewY(0deg) scale(1.02);
    }

    &.toggled .table-header::before {
      left: 50%;
    }
  }

  .table-header {
    display: flex;
    align-items: center;
    background: #cfccff;
    height: 7rem;
    position: relative;
    box-shadow: 0 10px 60px rgba(0, 0, 0, 0.7);

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      z-index: 90;
      background: #b4b0fe;
      width: 50%;
      height: 100%;
      transition: left 0.5s ease-in-out;
    }

    .tab {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50%;
      z-index: 100;
      cursor: pointer;

      .label {
        font-size: 3.5rem;
        font-weight: 600;
      }
    }
  }

  .table-body {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
  }

  .table-view {
    position: relative;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px 20px;
    margin: 5rem;
    overflow: hidden;
    width: 100%;
    transform-origin: right;
    transition: left 0.5s ease-in-out;
  }

  .table-view.hidden {
    position: absolute;
    left: 100%;

    &:first-child {
      left: -100%;
    }
  }

  .cell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    .cell-header {
      display: flex;
      justify-content: center;
      align-items: center;

      .icon {
        width: 6.5rem;
        height: 6.5rem;
        margin-right: 2rem;
        color: map-get($colors, text);
      }

      .label {
        font-size: 3rem;
        color: map-get($colors, text);
      }
    }

    .cell-body {
      font-size: 2.1rem;
      margin-top: 1rem;
      max-width: 75%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: darken(map-get($colors, text), 40%);
    }
  }

  @include media(2300) {
    .table-header .tab .label {
      font-size: 2.5rem;
    }
    .table-view {
      margin: 3rem;
    }
    .cell .cell-header {
      .icon {
        width: 5.5rem;
        height: 5.5rem;
        margin-right: 1.5rem;
      }
    }
  }
  @include media(2000) {
    .table {
      min-width: 65rem;
    }
    .table-header {
      height: 5rem;

      .tab .label {
        font-size: 2.2rem;
        font-weight: 700;
      }
    }
    .cell .cell-header {
      .icon {
        width: 4.5rem;
        height: 4.5rem;
      }

      .label {
        font-size: 2.5rem;
      }
    }
    .cell .cell-body {
      font-size: 1.5rem;
    }
  }
  @include media(1800) {
    .container .title {
      font-size: 2.8rem;
    }
    .container .text {
      font-size: 1.8rem;
    }
    .table {
      min-width: 50rem;
    }
    .table-header .tab .label {
      font-size: 2.2rem;
    }
    .table-view {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px 10px;
      margin: 2rem;
    }
    .cell .cell-header {
      width: 70%;
      justify-content: start;

      .icon {
        width: 3.5rem;
        height: 3.5rem;
        margin-right: 1rem;
      }

      .label {
        font-size: 1.9rem;
      }
    }
    .cell-body {
      font-size: 1rem;
    }
    .right img {
      min-width: 54rem;
    }
    .left,
    .right {
      margin: 3rem;
    }
  }
  @include media(1600) {
    .table {
      max-width: 60rem;
      margin: 7rem auto;
      border-width: 3px;
    }
    .right img {
      min-width: 30rem;
    }
  }
  @include media(1200) {
    .left,
    .right {
      margin: 3rem;
    }
  }
  @include media(1000) {
    .container {
      flex-wrap: wrap;
    }
    .container .title {
      font-size: 2rem;
    }
    .container .text {
      font-size: 1.4rem;
    }
    .table {
      min-width: 40rem;
      transform: skewY(0);
    }
    .table-header .tab .label {
      font-size: 1.7rem;
    }
    .right {
      margin: auto;
    }
    .right img {
      min-width: 40rem;
    }
  }
  @include media(700) {
    .left {
      margin: 5rem;
    }
    .container .title {
      font-size: 2rem;
    }
    .container .text {
      font-size: 1.5rem;
      margin: 0 8rem;
    }
    .table {
      min-width: 25rem;
      border-width: 2px;
    }
    .table-header {
      height: 4rem;
    }
    .cell .cell-header {
      .icon {
        width: 2.5rem;
        height: 2.5rem;
      }

      .label {
        font-size: 1.5rem;
      }
    }
    .cell .cell-body {
      font-size: 1rem;
    }

    .right {
      margin: 5rem auto;
    }
    .right img {
      width: 60vw;
      min-width: 20rem;
    }
  }
  @include media(550) {
    .container .text {
      margin: 0 3rem;
    }
  }
  @include media(450) {
    .left {
      margin: 3rem;
    }
    .table {
      margin-bottom: 0;
      min-width: 15rem;
    }
    .table-header .tab .label {
      font-size: 1.5rem;
    }
    .table-view {
      grid-template-columns: 1fr;
      gap: 20px 0;
    }
    .cell-header {
      max-width: 50%;
    }
  }
  @include media(300) {
    .left {
      margin: 1.5rem;
    }
    .table-header .tab .label {
      padding: 0 2rem;
    }
  }
}

.hidden {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
